{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="utf-8" />
	<title>Sagenext-Datapanel | Homepage</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN core-css ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="../static/css/vendor.min.css" rel="stylesheet" />
	<link href="../static/css/global.css" rel="stylesheet" />
	<link href="../static/css/default/app.min.css" rel="stylesheet" />
	<!-- ================== END core-css ================== -->
	
	<!-- ================== BEGIN page-css ================== -->
	<link href="../static/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
	<link href="../static/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
	<link href="../static/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet" />
	<link href="../static/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />
	<link href="../static/plugins/ion-rangeslider/css/ion.rangeSlider.min.css" rel="stylesheet" />
	<link href="../static/plugins/tag-it/css/jquery.tagit.css" rel="stylesheet" />
	<link href="../static/plugins/spectrum-colorpicker2/dist/spectrum.min.css" rel="stylesheet" />
	<link href="../static/plugins/select-picker/dist/picker.min.css" rel="stylesheet" />
	<!-- ================== END page-css ================== -->
</head>
<body>
	<!-- BEGIN #loader -->
	<div id="loader" class="app-loader">
		<span class="spinner"></span>
	</div>
	<!-- END #loader -->
	<!-- BEGIN #app -->
	<div id="app" class="app app-header-fixed app-sidebar-fixed ">
		<!-- BEGIN #header -->
		<div id="header" class="app-header">
			<!-- BEGIN navbar-header -->
			<div class="navbar-header">
				<a href="" class="navbar-brand"><span class="navbar-logo"></span> <b>Sagenext</b></a>
				<button type="button" class="navbar-mobile-toggler" data-toggle="app-sidebar-mobile">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- END navbar-header -->
			<!-- BEGIN header-nav -->
			<div class="navbar-nav">
				<div class="navbar-item navbar-user dropdown">
					<a href="#" class="navbar-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown">
						 <img src="../static/img/user/sage.13.png" alt="" />  
						<span>
							<span class="d-none d-md-inline">Admin</span> <!-- in place of Admin username should be changeable-->
							<b class="caret"></b>
						</span>
					</a>
					<div class="dropdown-menu dropdown-menu-end me-1">
						<a href="{% url 'logout' %}" class="dropdown-item">Log Out</a>
					</div>
				</div>
			</div>
			<!-- END header-nav -->
		</div>
		<!-- END #header -->
		<!-- BEGIN #sidebar -->
		<div id="sidebar" class="app-sidebar">
			<!-- BEGIN scrollbar -->
			<div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
				<!-- BEGIN menu -->
				<div class="menu">
					<div class="has-sub active" style="color:White;font-size:18px;text-align:center;margin:10px">
						<div class="menu-submenu menu-text">
							<b>Dashboard</b>
						</div>
					</div>
					<div class="menu-item has-sub active">
						<a href="javascript:;" class="menu-link">
							<div class="menu-icon">
								<i class="fa fa-align-left"></i>
							</div>
							<div class="menu-text">Data Hub</div>
							<div class="menu-caret"></div>
						</a>
						<div class="menu-submenu ">
							<div class="menu-item active">
								<a href="{% url 'ad_page' %}" class="menu-link">
									<div class="menu-text">Adword</div>
								</a>
							</div>
							<div class="menu-item active">
								<a href="{% url 'analytics_data' %}" class="menu-link">
									<div class="menu-text">Analytics</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- END menu -->
			</div>
			<!-- END scrollbar -->
		</div>
		<!-- END #sidebar -->
		
		<!-- BEGIN #content -->
		<div id="content" class="app-content">
			{% block content %}
			<!-- BEGIN row -->
			<div class="btn-group">&nbsp;
				<a href="#" class="btn btn-dark">Click Here for Graph</a>
				<a href="#" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown">
					<i class="fa fa-caret-down"></i>
				</a>
				<ul class="dropdown-menu dropdown-menu-end">
					<li><a href="{% url 'Adwords_Dashboard' %}" class="btn btn-search">Google Adwords</a></li>
					<li><a href="{% url 'Analytics_Dashboard' %}" class="btn btn-search">Google Analytics</a></li>
				</ul>
			</div>
		</div>
		<div class="row" style="margin-left:235px;padding:0">
			<!-- BEGIN col-3 -->
			<div class="col-xl-3 col-md-6">
				<div class="widget widget-stats bg-red">
					<div class="stats-icon"><i class="fa fa-hand-pointer-o"></i></div>
					<div class="stats-info">
						<h4>TOTAL CLICKS</h4>
						<p>31,922</p>	
					</div>
					<div class="stats-link">
						<a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
					</div>
				</div>
			</div>
			
			<!-- END col-3 -->
			<!-- BEGIN col-3 -->
			<div class="col-xl-3 col-md-6">
				<div class="widget widget-stats bg-green">
					<div class="stats-icon"><i class="fa fa-link"></i></div>
					<div class="stats-info">
						<h4>BOUNCE RATE</h4>
						<p>80.44%</p>	
					</div>
					<div class="stats-link">
						<a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
					</div>
				</div>
			</div>
			<!-- END col-3 -->
			<!-- BEGIN col-3 -->
			<div class="col-xl-3 col-md-6">
				<div class="widget widget-stats bg-pink">
					<div class="stats-icon"><i class="fa fa-users"></i></div>
					<div class="stats-info">
						<h4>Sessions</h4>
						<p>17,137</p>	
					</div>
					<div class="stats-link">
						<a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
					</div>
				</div>
			</div>
			<!-- END col-3 -->
			
			<!-- BEGIN col-3 -->
			<div class="col-xl-3 col-md-6">
				<div class="widget widget-stats bg-orange">
					<div class="stats-icon"><i class="fa fa-clock"></i></div>
					<div class="stats-info">
						<h4>Users</h4>
						<p>14,905</p>	
					</div>
					<div class="stats-link">
						<a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
					</div>
				</div>
			</div>
			<!-- END col-3 -->
		</div>
		<div class="row" style="margin-left:240px;padding:0;padding-right:10px">
			<p class="btn btn-dark"style="cursor:none">Click Here for Graph</p>
			<ul class="dropdown-menu dropdown-menu-end">
				<li><a href="{% url 'Adwords_Dashboard' %}" class="btn btn-search">Google Adwords</a></li>
				<li><a href="{% url 'Analytics_Dashboard' %}" class="btn btn-search">Google Analytics</a>/li>
			</ul>
		</div>
		<div class="row" style="margin-left:240px;justify-content:space-around">
			<div class="col-xl-4 col-md-2">
				<div class="widget widget-stats" style="background-color:lightgreen;color:black">
					<div class="stats-icon"><i class="fa fa-desktop"></i></div>
					<div class="stats-info" >
						<h4 style="color:black">Google Adwords</h4>
					</div>
					<div class="stats-link" style="padding-top:15px">
						<a href="{% url 'Adwords_Dashboard' %}" style="color:black">Adwords Dashboard<i class="fa fa-arrow-alt-circle-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-md-2">
				<div class="widget widget-stats" style="background-color:lightgreen;color:black">
					<div class="stats-icon"><i class="fa fa-desktop"></i></div>
					<div class="stats-info">
						<h4 style="color:black">Google Analytics</h4>
					</div>
					<div class="stats-link" style="padding-top:15px">
						<a href="{% url 'Analytics_Dashboard' %}" style="color:black">Analytics Dashboard<i class="fa fa-arrow-alt-circle-right"></i></a>
					</div>
				</div>
			</div>
		</div>
		<!-- BEGIN row -->
	</div>
	{% endblock content %}
		
	

	<!-- END #app -->
	
	<script src="../static/js/vendor.min.js"></script>
	<script src="../static/js/app.min.js"></script>
	<!-- ================== END core-js ================== -->
	
	<!-- ================== BEGIN page-js ================== -->
	

	<script src="../static/plugins/moment/min/moment.min.js"></script>
	<script src="../static/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script src="../static/plugins/select2/dist/js/select2.min.js"></script>
	<script src="../static/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
	<script src="../static/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
	<script src="../static/plugins/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
	<script src="../static/plugins/jquery.maskedinput/src/jquery.maskedinput.js"></script>
	<script src="../static/plugins/jquery-migrate/dist/jquery-migrate.min.js"></script>
	<script src="../static/plugins/tag-it/js/tag-it.min.js"></script>
	<script src="../static/plugins/clipboard/dist/clipboard.min.js"></script>
	<script src="../static/plugins/spectrum-colorpicker2/dist/spectrum.min.js"></script>
	<script src="../static/plugins/select-picker/dist/picker.min.js"></script>
	{% comment %} <script src="../static/js/demo/form-plugins.demo.js"></script> {% endcomment %}
	<script src="../static/plugins/@highlightjs/cdn-assets/highlight.min.js"></script>
	<script src="../static/js/demo/render.highlight.js"></script>
	<script>
		
		$("#advance-daterange").daterangepicker({
			format: "MM/DD/YYYY",
			startDate: moment().subtract(29, "days"),
			endDate: moment(),
			minDate: "01/01/2012",
			maxDate: "12/31/2050",
			dateLimit: { days: 60 },
			showDropdowns: true,
			showWeekNumbers: true,
			timePicker: false,
			timePickerIncrement: 1,
			timePicker12Hour: true,
			ranges: {
				"Today": [moment(), moment()],
				"Yesterday": [moment().subtract(1, "days"), moment().subtract(1, "days")],
				"Last 7 Days": [moment().subtract(6, "days"), moment()],
				"Last 30 Days": [moment().subtract(29, "days"), moment()],
				"This Month": [moment().startOf("month"), moment().endOf("month")],
				"Last Month": [moment().subtract(1, "month").startOf("month"), moment().subtract(1, "month").endOf("month")]
			},
			opens: "right",
			drops: "down",
			buttonClasses: ["btn", "btn-sm"],
			applyClass: "btn-primary",
			cancelClass: "btn-default",
			separator: " to ",
			locale: {
				applyLabel: "Submit",
				cancelLabel: "Cancel",
				fromLabel: "From",
				toLabel: "To",
				customRangeLabel: "Custom",
				daysOfWeek: ["Su", "Mo", "Tu", "We", "Th", "Fr","Sa"],
				monthNames: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
				firstDay: 1
			}
		}, function(start, end, label) {
			$("#advance-daterange span").html(start.format("MMMM D, YYYY") + " - " + end.format("MMMM D, YYYY"));
		});
	</script>
</body>
</html>