{% extends "dashboard.html" %}
{% load static %}
{% block content %}
<div class="col-3">
    <form class="form-horizontal form-bordered">
         <div class="form-group row">
         </div> 
       </form>
    </div>
    <div class="row">
    <!-- BEGIN col-3 -->
    <div class="col-xl-3 col-md-6">
        <div class="widget widget-stats bg-red">
            <div class="stats-icon"><i class="fa fa-desktop"></i></div>
            <div class="stats-info">
                <h4>TOTAL CLICKS</h4>
                <p>31,922</p>	
            </div>
            <div class="stats-link">
                <a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
            </div>
        </div>
    </div>
    <!-- END col-3 -->
    <!-- BEGIN col-3 -->
    <div class="col-xl-3 col-md-6">
        <div class="widget widget-stats bg-green">
            <div class="stats-icon"><i class="fa fa-link"></i></div>
            <div class="stats-info">
                <h4>BOUNCE RATE</h4>
                <p>80.44%</p>	
            </div>
            <div class="stats-link">
                <a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
            </div>
        </div>
    </div>
    <!-- END col-3 -->
    <!-- BEGIN col-3 -->
    <div class="col-xl-3 col-md-6">
        <div class="widget widget-stats bg-pink">
            <div class="stats-icon"><i class="fa fa-users"></i></div>
            <div class="stats-info">
                <h4>CONVERSIONS</h4>
                <p>1,291,922</p>	
            </div>
            <div class="stats-link">
                <a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
            </div>
        </div>
    </div>
    <!-- END col-3 -->
    <!-- BEGIN col-3 -->
    <div class="col-xl-3 col-md-6">
        <div class="widget widget-stats bg-orange">
            <div class="stats-icon"><i class="fa fa-clock"></i></div>
            <div class="stats-info">
                <h4>Users</h4>
                <p>3,600</p>	
            </div>
            <div class="stats-link">
                <a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
            </div>
        </div>
    </div>
    <!-- END col-3 -->
<!-- Add this form to capture the date range -->
<div class="filter">
    <div class="row">
        <div class="col-3" onload="selectDateRange('last_30_days')" style="display:inline;justify-content:space-between;">
            <select id="date_range_options" class="form-control" onchange="selectDateRange(this.value)" s>
                <option >Select Date</option>
                <option value="today">Today</option>
                <option value="last_day">Yesterday</option>
                <option value="last_7_days">Last 7 Days</option>
                <option value="last_30_days">Last 30 Days</option>
                <option value="this_month">This Month</option>
                <option value="previous_month">Last Month</option>  
            </select>
        </div>
        <div class="col-3">
            <input type="date" class="form-control" id="start_date">
        </div>
        <div class="col-3">
            <input type="date" class="form-control"  id="end_date">
        </div>
        <div class="col-3">
            <button onclick="applyDateRange()" style="padding-button:10px; width: 100%">Apply Date Range</button>
        </div>
            <script>
    function applyDateRange() {
        var startDate = document.getElementById("start_date").value;
        var endDate = document.getElementById("end_date").value;

       // Redirect to the Adwords_Dashboard function with start and end dates
       window.location.href = "/Adwords_Dashboard/?start_date=" + startDate + "&end_date=" + endDate;
    }
    
    function selectDateRange(option) {
        var today = new Date();
        var startDate = new Date();
        var endDate = new Date();
        
        if (option === "last_day") {
            startDate.setDate(today.getDate() - 1);
        } else if (option === "last_30_days") {
            startDate.setDate(today.getDate() - 30);
        } else if (option === "previous_month") {
            startDate.setMonth(today.getMonth() - 1);
            startDate.setDate(1);
            endDate.setDate(0);
        } else if (option === "this_month") {
            startDate.setDate(1);
        }else if (option === "last_7_days") {
            startDate.setDate(today.getDate() - 7);
        }else if (option === "today") {
            startDate.setDate(today.getDate());
        }
        document.getElementById("start_date").valueAsDate = startDate;
        document.getElementById("end_date").valueAsDate = endDate;
    }
    </script>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        
        /* Style for the date range options select element */
        #date_range_options {
            font-size: 16px;
            padding: 5px;
            margin-bottom: 10px;
        }
        
        /* Style for the date input fields */
        input[type="date"] {
            font-size: 16px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        
        /* Style for the apply button */
        button {
            font-size: 16px;
            padding: 5px 20px;
            background-color: lightgreen;
            color: black;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        
        /* Change button color when hovered */
        button:hover {
            background-color: ;
        }
    </style>
</div>

<!--Graph 1 Started here-->
    <!-- END row -->
    <div class="row">
        <!-- BEGIN col-8 -->
        <div class="col-xl-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading">
                    <h4 class="panel-title">Graph of Date Vs Clicks / Cost</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="panel-body pe-1">
                    <canvas id="Chart1" width="400" height="100"></canvas>
                </div>
            </div> 
            <script src="https://cdn.canvasjs.com/ga/canvasjs.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
    
    //  Graph-1
    
                // Static data for the chart
                var labels2 = [{% for data in data %}'{{ data.date }}',{% endfor %}];
                var dataset1 = [{% for data in data %}{{ data.clicks }},{% endfor %}];
                var dataset2 = [{% for data in data %}{{ data.cost }},{% endfor %}];
                
            
                // Create the chart
                var ctx2 = document.getElementById('Chart1').getContext('2d');
                var myChart2 = new Chart(ctx2, {
                    type: 'line',
                    data: {
                        labels: labels2,
                        datasets: [
                            {
                                label: 'Clicks',
                                data: dataset1,
                                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                borderColor: 'rgba(75, 192, 192, 1)',
                                borderWidth: 3,
                               
                            },
                            {   type: 'line',
                                label: 'Cost',
                                data: dataset2,
                                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                borderColor: 'rgba(255, 99, 132, 1)',
                                borderWidth: 3,
                                
                            }
                        ]
                    },
                    options: {
                        responsive: true,
                        scales: {
                            y: [
                                {
                                    type: 'linear',
                                    display: true,
                                    position: 'left',
                                    id: 'y-axis-1'
                                },
                                {
                                    type: 'linear',
                                    display: true,
                                    position: 'right',
                                    id: 'y-axis-2'
                                }
                            ]
                        }
                    }
                });
              </script>
              
<!--Graph-2-->
<div class="row">
    <!-- BEGIN col-8 -->
    <div class="col-xl-12">
        <!-- BEGIN panel -->
        <div class="panel panel-inverse" data-sortable-id="index-1">
            <div class="panel-heading">
                <h4 class="panel-title">Graph of Campaign Adgroup Name Vs Campaign Cost / Campaign Clicks </h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="panel-body pe-1">
                <canvas id="Chart2" width="400" height="100"></canvas>
            </div>
        </div> 
        <script src="https://cdn.canvasjs.com/ga/canvasjs.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>

            // Static data for the chart
            var labels2 = [{% for data in data %}'{{ data.campaign_adgroup_name }}',{% endfor %}];
            var dataset1 = [{% for data in data %}{{ data.campaign_cost }},{% endfor %}];
            var dataset2 = [{% for data in data %}{{ data.campaign_clicks }},{% endfor %}];
        
            // Create the chart
            var ctx2 = document.getElementById('Chart2').getContext('2d');
            var myChart2 = new Chart(ctx2, {
                type: 'bar',
                data: {
                    labels: labels2,
                    datasets: [
                        {
                            label: ' Cost(in US$)',
                            data: dataset1,
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 3,
                            
                        },
                        {   type: 'bar',
                            label: ' clicks',
                            data: dataset2,
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 3,
                            
                        }
                    ]
                },
                options: {
                    responsive: true,
                    scales: {
                        y: [
                            {
                                type: 'linear',
                                display: true,
                                position: 'left',
                                id: 'y-axis-1'
                            },
                            {
                                type: 'linear',
                                display: true,
                                position: 'right',
                                id: 'y-axis-2'
                            }
                        ]
                    }
                }
            });
          </script>

<!--Graph -3--> 
    <div class="row">
        <!-- BEGIN col-8 -->
        <div class="col-xl-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading">
                    <h4 class="panel-title">Graph of Search Word Vs Clicks / Impressions </h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="panel-body pe-1">
                    <canvas id="Chart3" width="400" height="100"></canvas>
                </div>
            </div> 
            <script src="https://cdn.canvasjs.com/ga/canvasjs.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
     
                // Static data for the chart
                var labels2 = [{% for data in data %}'{{ data.search_word }}',{% endfor %}];
                var dataset1 = [{% for data in data %}{{ data.search_word_clicks }},{% endfor %}];
                var dataset2 = [{% for data in data %}{{ data.search_word_impressions }},{% endfor %}];
            
                // Create the chart
                var ctx2 = document.getElementById('Chart3').getContext('2d');
                var myChart2 = new Chart(ctx2, {
                    type: 'bar',
                    data: {
                        labels: labels2,
                        datasets: [
                            {
                                label: 'Clicks',
                                data: dataset1,
                                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                borderColor: 'rgba(75, 192, 192, 1)',
                                borderWidth: 3,
                                
                            },
                            {   type: 'line',
                                label: 'Impressions',
                                data: dataset2,
                                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                borderColor: 'rgba(255, 99, 132, 1)',
                                borderWidth: 3,
                                
                            }
                        ]
                    },
                    options: {
                        responsive: true,
                        scales: {
                            y: [
                                {
                                    type: 'linear',
                                    display: true,
                                    position: 'left',
                                    id: 'y-axis-1'
                                },
                                {
                                    type: 'linear',
                                    display: true,
                                    position: 'right',
                                    id: 'y-axis-2'
                                }
                            ]
                        }
                    }
                });
              </script> 

<!--Graph 4-->              
              
              <div class="row">
                <!-- BEGIN col-8 -->
                <div class="col-xl-12">
                    <!-- BEGIN panel -->
                    <div class="panel panel-inverse" data-sortable-id="index-1">
                        <div class="panel-heading">
                            <h4 class="panel-title">Graph of Age Range Vs Impression </h4>
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div class="panel-body pe-1">
                            <canvas id="Chart4" width="400" height="100"></canvas>
                        </div>
                    </div> 
                    <script src="https://cdn.canvasjs.com/ga/canvasjs.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                    <script>
             
                        // Static data for the chart
                        var labels2 = [{% for data in data %}'{{ data.demographics_age_range }}',{% endfor %}];
                        //var dataset1 = [{% for data in data %}{{ data.demographics_gender }},{% endfor %}];
                        var dataset2 = [{% for data in data %}{{ data.demographics_impression }},{% endfor %}];
                    
                        // Create the chart
                        var ctx2 = document.getElementById('Chart4').getContext('2d');
                        var myChart2 = new Chart(ctx2, {
                            type: 'bar',
                            data: {
                                labels: labels2,
                                datasets: [
                                    {
                                        label: ' Impressions',
                                        data: dataset1,
                                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                        borderColor: 'rgba(255, 99, 132, 1)',
                                        borderWidth: 3,
   
                                    },
                                
                                ]
                            },
                            options: {
                                responsive: true,
                                scales: {
                                    y: [
                                        {
                                            type: 'linear',
                                            display: true,
                                            position: 'left',
                                            id: 'y-axis-1'
                                        },
                                        {
                                            type: 'linear',
                                            display: true,
                                            position: 'right',
                                            id: 'y-axis-2'
                                        }
                                    ]
                                }
                            }
                        });
                      </script> 
<!--Graph 5-->              
              
              <div class="row">
                <!-- BEGIN col-8 -->
                <div class="col-xl-12">
                    <!-- BEGIN panel -->
                    <div class="panel panel-inverse" data-sortable-id="index-1">
                        <div class="panel-heading">
                            <h4 class="panel-title">Graph of Per Hour Vs Impression</h4>
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div class="panel-body pe-1">
                            <canvas id="Chart5" width="400" height="100"></canvas>
                        </div>
                    </div> 
                    <script src="https://cdn.canvasjs.com/ga/canvasjs.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                    <script>
             
                        // Static data for the chart
                        var labels2 = [{% for data in data %}'{{ data.per_hour }}',{% endfor %}];
                        var dataset1 = [{% for data in data %}{{ data.per_hour_impression }},{% endfor %}];
                        //var dataset2 = [{% for data in data %}{{ data. }},{% endfor %}];
                    
                        // Create the chart
                        var ctx2 = document.getElementById('Chart5').getContext('2d');
                        var myChart2 = new Chart(ctx2, {
                            type: 'bar',
                            data: {
                                labels: labels2,
                                datasets: [
                                    {
                                        label: 'Impression',
                                        data: dataset1,
                                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                        borderColor: 'rgba(255, 99, 132, 1)',
                                        borderWidth: 3,
                                        
                                    },
                                   
                                ]
                            },
                            options: {
                                responsive: true,
                                scales: {
                                    y: [
                                        {
                                            type: 'linear',
                                            display: true,
                                            position: 'left',
                                            id: 'y-axis-1'
                                        },
                                        {
                                            type: 'linear',
                                            display: true,
                                            position: 'right',
                                            id: 'y-axis-2'
                                        }
                                    ]
                                }
                            }
                        });
                      </script> 

<!-- Graph-6-->

    <!-- BEGIN col-8 -->
    <div class="col-xl-12">
        <!-- BEGIN panel -->
        <div class="panel panel-inverse" data-sortable-id="index-1">
            <div class="panel-heading">
                <h4 class="panel-title">Graph of Week Days Vs Impression </h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="panel-body pe-1">
                <canvas id="Chart6" width="400" height="100"></canvas>
            </div>
        </div> 
        <script src="https://cdn.canvasjs.com/ga/canvasjs.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            // Static data for the chart
            var labels2 = [{% for data in data %}'{{ data.per_day }}',{% endfor %}];
            var dataset1 = [{% for data in data %}{{ data.per_day_impression }},{% endfor %}];
            // Create the chart
            var ctx2 = document.getElementById('Chart6').getContext('2d');
            var myChart2 = new Chart(ctx2, {
                type: 'bar',
                data: {
                    labels: labels2,
                    datasets: [
                        {
                            label: 'Impression',
                            data: dataset1,
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 4,
                            
                        },
                    
                    ]
                },
                options: {
                    responsive: true,
                    scales: {
                        y: [
                            {
                                type: 'linear',
                                display: true,
                                position: 'left',
                                id: 'y-axis-1'
                            },
                            {
                                type: 'linear',
                                display: true,
                                position: 'right',
                                id: 'y-axis-2'
                            }
                        ]
                    }
                }
            });
          </script>
    <!-- Graph-7-->
    <!-- BEGIN col-8 -->
    <div class="col-xl-12">
        <!-- BEGIN panel -->
        <div class="panel panel-inverse" data-sortable-id="index-1">
            <div class="panel-heading">
                <h4 class="panel-title">Graph of Date Vs Clicks </h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="panel-body pe-1">
                <canvas id="Chart7" width="400" height="100"></canvas>
            </div>
        </div> 
        <script src="https://cdn.canvasjs.com/ga/canvasjs.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
 
            // Static data for the chart
            var labels2 = [{% for data in data %}'{{ data.date }}',{% endfor %}];
            var dataset1 = [{% for data in data %}{{ data.clicks }},{% endfor %}];
            //var dataset2 = [{% for data in data %}{{ data. }},{% endfor %}];
        
            // Create the chart
            var ctx2 = document.getElementById('Chart7').getContext('2d');
            var myChart2 = new Chart(ctx2, {
                type: 'bar',
                data: {
                    labels: labels2,
                    datasets: [
                        {
                            label: 'Clicks',
                            data: dataset1,
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 4,                            
                        },
                    
                    ]
                },
                options: {
                    responsive: true,
                    scales: {
                        y: [
                            {
                                type: 'linear',
                                display: true,
                                position: 'left',
                                id: 'y-axis-1'
                            },
                            {
                                type: 'linear',
                                display: true,
                                position: 'right',
                                id: 'y-axis-2'
                            }
                        ]
                    }
                }
            });
          </script>               
 {% endblock content %}