{% extends "dashboard.html" %}
{% load static %}
{% block content %}
<div class="col-3">
    <form class="form-horizontal form-bordered">
         <div class="form-group row">


            
            {% comment %} <label class="form-label col-form-label col-lg-4">Default Date Ranges</label>  {% endcomment %}
            <!-- <div class="col-lg-8">
                <div class="input-group" id="default-daterange">
                    {% comment %} <input type="text" name="default-daterange" class="form-control" value="" placeholder="click to select the date range"> {% endcomment %}
                    {% comment %} <div class="input-group-text"><i class="fa fa-calendar"></i></div> {% endcomment %}
                </div> 
             </div>-->
        </div> 
       <!-- <div class="form-group row">
            <label class="form-label col-form-label col-lg-4">Advance Date Ranges</label>
            <div class="col-lg-8">
                <div id="advance-daterange" class="btn btn-default d-flex text-start align-items-center">
                    <span class="flex-1">Jan 24, 2012 - June 22, 2023</span>
                    <i class="fa fa-caret-down"></i>
                </div>
            </div>
        </div>>-->
    </form>
</div>
<div class="row">
    <!-- BEGIN col-3 -->
    <div class="col-xl-3 col-md-6">
        <div class="widget widget-stats bg-red">
            <div class="stats-icon"><i class="fa fa-desktop"></i></div>
            <div class="stats-info">
                <h4>TOTAL CLICKS</h4>
                <p>31,922</p>	
            </div>
            <div class="stats-link">
                <a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
            </div>
        </div>
    </div>
    
    <!-- END col-3 -->
    <!-- BEGIN col-3 -->
    <div class="col-xl-3 col-md-6">
        <div class="widget widget-stats bg-green">
            <div class="stats-icon"><i class="fa fa-link"></i></div>
            <div class="stats-info">
                <h4>BOUNCE RATE</h4>
                <p>80.44%</p>	
            </div>
            <div class="stats-link">
                <a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
            </div>
        </div>
    </div>
    <!-- END col-3 -->
    <!-- BEGIN col-3 -->
    <div class="col-xl-3 col-md-6">
        <div class="widget widget-stats bg-pink">
            <div class="stats-icon"><i class="fa fa-users"></i></div>
            <div class="stats-info">
                <h4>CONVERSIONS</h4>
                <p>1,291,922</p>	
            </div>
            <div class="stats-link">
                <a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
            </div>
        </div>
    </div>
    <!-- END col-3 -->
    <!-- BEGIN col-3 -->
    <div class="col-xl-3 col-md-6">
        <div class="widget widget-stats bg-orange">
            <div class="stats-icon"><i class="fa fa-clock"></i></div>
            <div class="stats-info">
                <h4>Users</h4>
                <p>3,600</p>	
            </div>
            <div class="stats-link">
                <a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
            </div>
        </div>
    </div>
    <!-- END col-3 -->

    <!-- Custom Date -->
<!-- Add this form to capture the date range -->
<form method="get">
    <div class="form-group row mb-3">
        <label class="form-label col-form-label col-md-2">Start Date :</label>
        <div class="col-md-3">
            <input type="date" name="start_date" class="form-control" required>
        </div>
        <label class="form-label col-form-label col-md-2">End Date :</label>
        <div class="col-md-3">
            <input type="date" name="end_date" class="form-control" required>
        </div>
        <div class="form-group col-md-2">
                <button type="submit" class="btn btn-primary btn-block">Apply Date Range</button>
        </div>
    </div>
</form>


<!--Graph Started here-->
    <!-- END row -->
    <div class="row">
        <!-- BEGIN col-8 -->
        <div class="col-xl-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading">
                    <h4 class="panel-title">Graph of Country Vs New Users / Users</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="panel-body pe-1">
                    <canvas id="Chart1" width="400" height="100"></canvas>
                </div>
            </div> 
            <script src="https://cdn.canvasjs.com/ga/canvasjs.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
    
    //  Graph-1
    
                // Static data for the chart
                var labels2 = [{% for data in data %}'{{ data.country }}',{% endfor %}];
                var dataset1 = [{% for data in data %}{{ data.country_new_users }},{% endfor %}];
                var dataset2 = [{% for data in data %}{{ data.country_users }},{% endfor %}];
            
                // Create the chart
                var ctx2 = document.getElementById('Chart1').getContext('2d');
                var myChart2 = new Chart(ctx2, {
                    type: 'bar',
                    data: {
                        labels: labels2,
                        datasets: [
                            {
                                label: 'New Users',
                                data: dataset1,
                                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                borderColor: 'rgba(75, 192, 192, 1)',
                                borderWidth: 3,
                               
                            },
                            {   type: 'bar',
                                label: 'Users',
                                data: dataset2,
                                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                borderColor: 'rgba(255, 99, 132, 1)',
                                borderWidth: 3,
                                
                            }
                        ]
                    },
                    options: {
                        responsive: true,
                        scales: {
                            y: [
                                {
                                    type: 'linear',
                                    display: true,
                                    position: 'left',
                                    id: 'y-axis-2'
                                }
                               
                            ]
                        }
                    }
                });
              </script>
              


<!-- Graph-2--> 
<!-- END row -->
<div class="row">
	<!-- BEGIN col-8 -->
	<div class="col-xl-12">
		<!-- BEGIN panel -->
		<div class="panel panel-inverse" data-sortable-id="index-1">
			<div class="panel-heading">
				<h4 class="panel-title">Graph of Hour Vs New Users / Users </h4>
				<div class="panel-heading-btn">
					<a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
					<a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
					<a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
					<a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
				</div>
			</div>
			<div class="panel-body pe-1">
				<canvas id="Chart2" width="400" height="100"></canvas>
			</div>
		</div> 
		<script src="https://cdn.canvasjs.com/ga/canvasjs.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<script>

//  Graph-2

			// Static data for the chart
			var labels2 = [{% for data in data %}'{{ data.per_hour }}',{% endfor %}];
			var dataset1 = [{% for data in data %}{{ data.per_hour_new_users }},{% endfor %}];
			var dataset2 = [{% for data in data %}{{ data.per_hour_sessions }},{% endfor %}];
		
			// Create the chart
			var ctx2 = document.getElementById('Chart2').getContext('2d');
			var myChart2 = new Chart(ctx2, {
				type: 'line',
				data: {
					labels: labels2,
					datasets: [
						{
							label: 'New Users',
							data: dataset1,
							backgroundColor: 'rgba(75, 192, 192, 0.2)',
							borderColor: 'rgba(75, 192, 192, 1)',
							borderWidth: 3,
							
						},
						{   type: 'line',
							label: 'Users',
							data: dataset2,
							backgroundColor: 'rgba(255, 99, 132, 0.2)',
							borderColor: 'rgba(255, 99, 132, 1)',
							borderWidth: 3,
							
						}
					]
				},
				options: {
					responsive: true,
					scales: {
						y: [
							{
								type: 'linear',
								display: true,
								position: 'left',
								id: 'y-axis-1'
							},
							{
								type: 'linear',
								display: true,
								position: 'right',
								id: 'y-axis-2'
							}
						]
					}
				}
			});
		  </script>
                     
<!--Graph-3-->
<!-- END row -->
<div class="row">
	<!-- BEGIN col-8 -->
	<div class="col-xl-12">
		<!-- BEGIN panel -->
		<div class="panel panel-inverse" data-sortable-id="index-1">
			<div class="panel-heading">
				<h4 class="panel-title">Graph of Mobile Device Vs Device Sessions / Device Sessions</h4>
				<div class="panel-heading-btn">
					<a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
					<a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
					<a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
					<a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
				</div>
			</div>
			<div class="panel-body pe-1">
				<canvas id="Chart3" width="400" height="100"></canvas>
			</div>
		</div> 
		<script src="https://cdn.canvasjs.com/ga/canvasjs.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<script>


			// Static data for the chart
			var labels2 = [{% for data in data %}'{{ data.mobile_device_users }}',{% endfor %}];
			var dataset1 = [{% for data in data %}{{ data.mobile_device_new_users }},{% endfor %}];
			var dataset2 = [{% for data in data %}{{ data.mobile_device_sessions	 }},{% endfor %}];
		
			// Create the chart
			var ctx2 = document.getElementById('Chart3').getContext('2d');
			var myChart2 = new Chart(ctx2, {
				type: 'bar',
				data: {
					labels: labels2,
					datasets: [
						{
							label: 'Device New Users',
							data: dataset1,
							backgroundColor: 'rgba(75, 192, 192, 0.2)',
							borderColor: 'rgba(75, 192, 192, 1)',
							borderWidth: 3,
							
						},
						{   type: 'bar',
							label: 'Device Sessions	',
							data: dataset2,
							backgroundColor: 'rgba(255, 99, 132, 0.2)',
							borderColor: 'rgba(255, 99, 132, 1)',
							borderWidth: 3,
							
						}
					]
				},
				options: {
					responsive: true,
					scales: {
						y: [
							{
								type: 'linear',
								display: true,
								position: 'left',
								id: 'y-axis-1'
							},
							{
								type: 'linear',
								display: true,
								position: 'right',
								id: 'y-axis-2'
							}
						]
					}
				}
			});
		  </script>
  <!--Graph 4--> 
  <div class="row">
    <!-- BEGIN col-8 -->
    <div class="col-xl-12">
        <!-- BEGIN panel -->
        <div class="panel panel-inverse" data-sortable-id="index-1">
            <div class="panel-heading">
                <h4 class="panel-title">Graph of Search Query Vs Search Clicks / Search Impressions /Search CTR</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="panel-body pe-1">
                <canvas id="Chart4" width="400" height="100"></canvas>
            </div>
        
        </div>
        <script src="https://cdn.canvasjs.com/ga/canvasjs.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            // Static data for the chart
            var labels2 = [{% for data in data %}'{{ data.search_query }}',{% endfor %}];
            var dataset1 = [{% for data in data %}{{ data.search_clicks }},{% endfor %}];
            var dataset2 = [{% for data in data %}{{ data.search_impressions }},{% endfor %}];
            var dataset3 = [{% for data in data %}{{ data.search_ctr }},{% endfor %}];

            // Create the chart
            var ctx2 = document.getElementById('Chart4').getContext('2d');
            var myChart2 = new Chart(ctx2, {
                type: 'bar',
                data: {
                    labels: labels2,
                    datasets: [
                        {
                            label: 'Search Clicks',
                            data: dataset1,
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 3,
                            
                        },
                        {
                            label: 'Search Impressions',
                            data: dataset2,
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 3,
                            
                        },
                        {
                            label: 'Search CTR',
                            data: dataset3,
                            backgroundColor: 'rgba(255, 159, 64, 0.2)',
                            borderColor: 'rgba(255, 159, 64, 1)',
                            borderWidth: 3,
                            
                        },
                    ],
                },
                options: {
                    responsive: true,
                    scales: {
                        y: [
                            {
                                type: 'linear',
                                display: true,
                                position: 'left',
                                id: 'y-axis-1',
                            },
                            {
                                type: 'linear',
                                display: true,
                                position: 'right',
                                id: 'y-axis-2',
                            },
                        ],
                    },
                },
            });
        </script>
<!--Graph-5-->
     
<div class="row">
    <!-- BEGIN col-8 -->
    <div class="col-xl-12">
        <!-- BEGIN panel -->
        <div class="panel panel-inverse" data-sortable-id="index-1">
            <div class="panel-heading">
                <h4 class="panel-title">Google Analytics</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="panel-body pe-1">
                <canvas id="Chart5" width="400" height="100"></canvas>
            </div>
        
        </div>
        <script src="https://cdn.canvasjs.com/ga/canvasjs.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            // Static data for the chart
            var labels2 = [{% for data in data %}'{{ data.page }}',{% endfor %}];
            var dataset1 = [{% for data in data %}{{ data.page_per_views }},{% endfor %}];
            //var dataset2 = [{% for data in data %}{{ data.search_impressions }},{% endfor %}];
           // var dataset3 = [{% for data in data %}{{ data.search_ctr }},{% endfor %}];

            // Create the chart
            var ctx2 = document.getElementById('Chart5').getContext('2d');
            var myChart2 = new Chart(ctx2, {
                type: 'bar',
                data: {
                    labels: labels2,
                    datasets: [
                        {
                            label: 'page_per_views',
                            data: dataset1,
                            backgroundColor: 'rgba(255, 159, 64, 0.2)',
                            borderColor: 'rgba(255, 159, 64, 1)',
                            borderWidth: 3,
                            yAxisID: 'y-axis-2',
                        },
                        
                    ],
                },
                options: {
                    responsive: true,
                    scales: {
                        y: [
                            {
                                type: 'linear',
                                display: true,
                                position: 'left',
                                id: 'y-axis-1',
                            },
                            {
                                type: 'linear',
                                display: true,
                                position: 'right',
                                id: 'y-axis-2',
                            },
                        ],
                    },
                },
            });
        </script> 
    <!--Graph-6-->
    <div class="row">
        <!-- BEGIN col-8 -->
        <div class="col-xl-12">
            <!-- BEGIN panel -->
            <div class="panel panel-inverse" data-sortable-id="index-1">
                <div class="panel-heading">
                    <h4 class="panel-title">Google Analytics</h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="panel-body pe-1">
                    <canvas id="Chart6" width="400" height="100"></canvas>
                </div>
            
            </div>
            <script src="https://cdn.canvasjs.com/ga/canvasjs.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
                // Static data for the chart
                var labels2 = [{% for data in data %}'{{ data.goal_completion_location }}',{% endfor %}];
                var dataset1 = [{% for data in data %}{{ data.goal_completions }},{% endfor %}];
                //var dataset2 = [{% for data in data %}{{ data.search_impressions }},{% endfor %}];
                //var dataset3 = [{% for data in data %}{{ data.search_ctr }},{% endfor %}];
    
                // Create the chart
                var ctx2 = document.getElementById('Chart6').getContext('2d');
                var myChart2 = new Chart(ctx2, {
                    type: 'bar',
                    data: {
                        labels: labels2,
                        datasets: [
                            {
                                label: 'goal_completions',
                                data: dataset1,
                                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                borderColor: 'rgba(75, 192, 192, 1)',
                                borderWidth: 3,
                                yAxisID: 'y-axis-1',
                            },
                            
                        ],
                    },
                    options: {
                        responsive: true,
                        scales: {
                            y: [
                                {
                                    type: 'linear',
                                    display: true,
                                    position: 'left',
                                    id: 'y-axis-1',
                                },
                                {
                                    type: 'linear',
                                    display: true,
                                    position: 'right',
                                    id: 'y-axis-2',
                                },
                            ],
                        },
                    },
                });
            </script>  
<!--Graph-7-->
<div class="row">
    <!-- BEGIN col-8 -->
    <div class="col-xl-12">
        <!-- BEGIN panel -->
        <div class="panel panel-inverse" data-sortable-id="index-1">
            <div class="panel-heading">
                <h4 class="panel-title">Graph of Affinity Category Vs Users Reach /  Sessions Reach</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-default" data-toggle="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-success" data-toggle="panel-reload"><i class="fa fa-redo"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-warning" data-toggle="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-danger" data-toggle="panel-remove"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="panel-body pe-1">
                <canvas id="Chart7" width="400" height="100"></canvas>
            </div>
        </div> 
        <script src="https://cdn.canvasjs.com/ga/canvasjs.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>

//  Graph-7

            // Static data for the chart
            var labels2 = [{% for data in data %}'{{ data.affinity_category_reach }}',{% endfor %}];
            var dataset1 = [{% for data in data %}{{ data.users_reach }},{% endfor %}];
            var dataset2 = [{% for data in data %}{{ data.sessions_reach }},{% endfor %}];
        
            // Create the chart
            var ctx2 = document.getElementById('Chart7').getContext('2d');
            var myChart2 = new Chart(ctx2, {
                type: 'bar',
                data: {
                    labels: labels2,
                    datasets: [
                        {
                            label: 'Users Reach',
                            data: dataset1,
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 3,
                            
                        },
                        {   type: 'bar',
                            label: 'Sessions Reach',
                            data: dataset2,
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 3,
                            
                        }
                    ]
                },
                options: {
                    responsive: true,
                    scales: {
                        y: [
                            {
                                type: 'linear',
                                display: true,
                                position: 'left',
                                id: 'y-axis-1'
                            },
                            {
                                type: 'linear',
                                display: true,
                                position: 'right',
                                id: 'y-axis-2'
                            }
                        ]
                    }
                }
            });
          </script>
{% endblock content %}
