
{% extends 'dashboard.html' %}
{% load static %}

{% block content %}


    <div class="panel-heading">
        <h4 class="panel-title">Upload File</h4>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="myfile">
            <input type="submit" value="Upload">
            <a href="/dashboard/" class="btn btn-primary" style="margin-right:4px">Back to Dashboard</a>
          </form>
    </div>
    <h1 class="page-header"> <small></small></h1>
			<!-- END page-header -->
			<!-- BEGIN panel -->
			<div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">Analytics Data</h4>
                    <div class="panel-heading-btn">
                        
                        {% csrf_token %}
                        <a href="{% url 'Analytics_Dashboard' %}" class="btn btn-secondry" target="_blank">Generate Graph</a>
                        <button id="delete-button" class="btn btn-danger btn-sm" style="margin-right:4px">Delete Selected</button>
                        {% comment %} <button id="view-graph-button" class="btn btn-danger btn-sm" disabled>View Graph</button> {% endcomment %}
                    </div>
                </div>
                <div class="panel-body">
                    <div class="ownTable">
                    <table>
                      <thead>
                        <tr>
                            <th></th>
                            
                            <th>Index</th>
                            <th> Date </th>
                            <th> Months</th>
                            <th>Country</th>
                            <th> Country Users</th>
                            <th>Country New Users</th>
                            {% comment %} <th>Country Benchmark Session Users</th> {% endcomment %}
                             <th>Country Page Sessions</th>
                            <th>Country Avg. Session Duration</th> 
                            <th>Country Bounce Rate</th>
                            {% comment %} <th>Country Benchmark Bounce Rate</th> {% endcomment %}
                            <th>Device Category</th>
                            <th>Device Users</th>
                            <th>Device New Users</th>
                            <th>Device Sessions</th>
                            <th>Device Bounce Rate</th>
                            <th>Device Page/Session</th>
                            <th>Search Query</th>
                            <th>Search Clicks</th>
                            <th>Search Impressions</th>
                            <th>Search CTR</th>
                            <th>Search Avg. Position</th>
                            <th>Site Search New Users</th>
                            <th>Site Search Bounce Rate</th>
                            <th>Site Search Page/Session</th>
                            <th>Site Search Avg. Session Duration</th>
                            <th>Site Search Transaction</th>
                            <th>Site Search Revenue</th>
                            <th>Site Search e-Commerce Conversion Rate</th>
                            <th>Goal Completion Location</th>
                            <th>Goal Completions</th>
                            <th>Page</th>
                            <th>Avg. Page Load Time</th>
                            <th>Page/Views</th>
                            <th>Page Bounce Rate</th>
                            <th>Page Exit</th>
                            <th>Event Category</th>
                            <th>Event Total Events</th>
                            <th>Event Unique Events</th>
                            <th>Page Event</th>
                            <th>Page Total Events</th>
                            <th>Page Unique Events</th>
                            <th>Campaign Campaign ID</th>
                            <th>Campaign Clicks</th>
                            <th>Campaign Cost</th>
                            <th>Campaign CPC</th>
                            <th>Campaign Users</th>
                            <th>Campaign Sessions</th>
                            <th>Campaign Bounce Rate</th>
                            <th>Campaign Pages/Session</th>
                            <th>Final URL</th>
                            <th>URL Clicks</th>
                            <th>URL Cost</th>
                            <th>URL CPC</th>
                            <th>URL Users</th>
                            <th>URL Sessions</th>
                            <th>URL Bounce Rate</th>
                            <th>URL Page/Session</th>
                            <th>Per Hour</th>
                            <th>Per Hour Users</th>
                            <th>Per Hour New Users</th>
                            <th>Per Hour Sessions</th>
                            <th>Per Hour Bounce Rate</th>
                            <th>Per Hour Pages/Session</th>
                            <th>Per Hour Avg. Session Duration</th>
                            <th>Affinity Category Reach</th>
                            <th>Users Reach</th>
                            <th>New Users Reach</th>
                            <th>Sessions Reach</th>
                            <th>Bounce Rate Reach</th>
                            <th>Pages/Session Reach</th>
                            <th>Avg. Session Duration Reach</th>
                            <th>Market Segment</th>
                            <th>Market Users</th>
                            <th>Market New Users</th>
                            <th>Market Sessions</th>
                            <th>Market Bounce Rate</th>
                            <th>Market Pages/Session</th>
                            <th>Market Avg. Session Duration</th>
                            <th>Other Category</th>
                            <th>Other Category Users</th>
                            <th>Other Category New Users</th>
                            <th>Other Category Sessions</th>
                            <th>Other Category Bounce Rate</th>
                            <th>Other Category Pages/Session</th>
                            <th>Other Category Avg. Session Duration</th>
                            <th>Landing Page</th>
                            <th>Landing Sessions</th>
                            <th>Landing New Sessions</th>
                            <th>Landing New Users</th>
                            <th>Landing Bounce Rate</th>
                            <th>Landing Page/Session</th>
                            <th>Landing Avg. Session Duration</th>
                            <th>Language</th>
                            <th>Language Users</th>
                            <th>Language New Users</th>
                            <th>Language Sessions</th>
                            <th>Language Bounce Rate</th>
                            <th>Language Pages/Session</th>
                            <th>Language Avg. Session Duration</th>
                            <th>Audience</th>
                            <th>Audience Users</th>
                            <th>Audience New Users</th>
                            <th>Audience Sessions</th>
                            <th>Audience Bounce Rate</th>
                            <th>Audience Pages/Session</th>
                            <th>Audience Avg. Session Duration</th>
                            <th>Browser Bounce Rate</th>
                            <th>Browser Pages/Session</th>
                            <th>Default Channel Grouping</th>
                            <th>Default Channel Users</th>
                            <th>Default Channel New Users</th>
                            <th>Default Channel Sessions</th>
                            <th>Default Channel Bounce Rate</th>
                            <th>Default Channel Pages/Session</th>
                            <th>Default Channel Avg. Session Duration</th>
                            <th>Page Path Level 1</th>
                            <th>Page View</th>
                            <th>Unique Page View</th>
                            <th>Avg. Time on Page</th>
                            <th>Bounce Rate</th>
                            <th>Exit Percent</th>
                            <th>Country Impressions</th>
                            <th>Country Clicks</th>
                            <th>Country CTR</th>
                            <th>Country Avg. Position</th>
                            <th>Country Sessions</th>
                            <th>Country Bounce Rate</th>
                            <th>Country Pages/Session</th>
                            <th>All Website Device Category</th>
                            <th>All Website Impressions</th>
                            <th>All Website Clicks</th>
                            <th>All Website CTR</th>
                            <th>All Website Avg. Position</th>
                            <th>All Website Sessions</th>
                            <th>All Website Bounce Rate</th>
                            <th>All Website Pages/Session</th>
                            <th>Mobile Device Info</th>
                            <th>Mobile Device Users</th>
                            <th>Mobile Device New Users</th>
                            <th>Mobile Device Sessions</th>
                            <th>Mobile Device Bounce Rate</th>
                            <th>Mobile Device Avg. Session Duration</th>
                            <th>Session Duration Bucket</th>
                            <th>Bucket Session</th>
                            <th>Bucket Page Views</th>
                            <th>Source/Medium</th>
                            <th>Medium Users</th>
                            <th>Medium New Users</th>
                            <th>Medium Sessions</th>
                            <th>Medium Bounce Rate</th>
                            <th>Medium Pages/Session</th>
                            <th>Medium Avg. Session Duration</th>
                           
                        </tr>
                    </thead>
                        <tbody>
                          {% comment %} {% for row in ad_data %} {% endcomment %}
                            {% if rows_per_page == 'All' %}
                            {% for row in page_obj %}
                            <tr>
                              <td>
                                  <input type="checkbox" name="selected-rows" value="{{ row.id }}">
                              </td>
                              <td>{{ page_obj.start_index|add:forloop.counter0 }}</td> <!-- Index number -->
                                <td>{{ row.g_date }}</td> 
                                <td> {{ row.months}}</td>        
                                <td>{{ row.country }}</td>
                                <td>{{ row.country_users}}</td>
                                 <td>{{ row.country_new_users }}</td> 
                               {% comment %} <td>{{ row.country_page_session }}</td>  {% endcomment %}
                               <td>{{ row.country_avg_session_duration }}</td>
                                <td>{{ row.country_bounce_rate }}</td>
                                <td>{{ row.country_benchmark_bounce_rate }}</td>
                                <td>{{ row.device_category }}</td>
                                <td>{{ row.device_users }}</td>
                                <td>{{ row.device_new_users }}</td>
                                <td>{{ row.device_sessions }}</td>
                                <td>{{ row.device_bounce_rate }}</td>
                                <td>{{ row.device_page_session }}</td>
                                <td>{{ row.search_query }}</td>
                                <td>{{ row.search_clicks }}</td>
                                <td>{{ row.search_impressions }}</td>
                                <td>{{ row.search_ctr }}</td>
                                <td>{{ row.search_avg_position }}</td>
                                <td>{{ row.site_search_new_users }}</td>
                                <td>{{ row.site_search_bounce_rate }}</td>
                                <td>{{ row.site_search_page_session }}</td>
                                <td>{{ row.site_search_avg_session_duration }}</td>
                                <td>{{ row.site_search_transaction }}</td>
                                <td>{{ row.site_search_revenue }}</td>
                                <td>{{ row.site_search_e_commerce_conversion_rate }}</td>
                                <td>{{ row.goal_completion_location }}</td>
                                <td>{{ row.goal_completions }}</td>
                                <td>{{ row.page }}</td>
                               <td>{{ row.avg_page_load_time }}</td> 
                                <td>{{ row.page_per_views }}</td>
                                <td>{{ row.page_bounce_rate }}</td>
                                <td>{{ row.page_exit }}</td>
                                <td>{{ row.event_category }}</td>
                                <td>{{ row.event_total_events }}</td>
                                <td>{{ row.event_unique_events }}</td>
                                <td>{{ row.page_event }}</td>
                                <td>{{ row.page_total_events }}</td>
                                <td>{{ row.page_unique_events }}</td>
                                <td>{{ row.campaign_campaign_id }}</td>
                                <td>{{ row.campaign_clicks }}</td>
                                <td>{{ row.campaign_cost }}</td>
                                <td>{{ row.campaign_cpc }}</td>
                                <td>{{ row.campaign_users }}</td>
                                <td>{{ row.campaign_sessions }}</td>
                                <td>{{ row.campaign_bounce_rate }}</td>
                                <td>{{ row.campaign_pages_session }}</td>
                                <td>{{ row.final_url }}</td>
                                <td>{{ row.url_clicks }}</td>
                                <td>{{ row.url_cost }}</td>
                                <td>{{ row.url_cpc }}</td>
                                <td>{{ row.url_users }}</td>
                                <td>{{ row.url_sessions }}</td>
                                <td>{{ row.url_bounce_rate }}</td>
                                <td>{{ row.url_page_session }}</td>
                                <td>{{ row.per_hour_ }}</td>
                                <td>{{ row.per_hour_users }}</td>
                                <td>{{ row.per_hour_new_users }}</td>
                                <td>{{ row.per_hour_sessions }}</td>
                                <td>{{ row.per_hour_bounce_rate }}</td>
                                <td>{{ row.per_hour_pages_session }}</td>
                                <td>{{ row.per_hour_avg_session_duration }}</td>
                                <td>{{ row.affinity_category_reach }}</td>
                                <td>{{ row.users_reach }}</td>
                                <td>{{ row.new_users_reach }}</td>
                                <td>{{ row.sessions_reach }}</td>
                                <td>{{ row.bounce_rate_reach }}</td>
                                <td>{{ row.pages_session_reach }}</td>
                                <td>{{ row.avg_session_duration_reach }}</td>
                                <td>{{ row.market_segment }}</td>
                                <td>{{ row.market_users }}</td>
                                <td>{{ row.market_new_users }}</td>
                                <td>{{ row.market_sessions }}</td>
                                <td>{{ row.market_bounce_rate }}</td>
                                <td>{{ row.market_pages_session }}</td>
                                <td>{{ row.market_avg_session_duration }}</td>
                                <td>{{ row.other_category }}</td>
                                <td>{{ row.other_category_users }}</td>
                                <td>{{ row.other_category_new_users }}</td>
                                <td>{{ row.other_category_sessions }}</td>
                                <td>{{ row.other_category_bounce_rate }}</td>
                                <td>{{ row.other_category_pages_session }}</td>
                                <td>{{ row.other_category_avg_session_duration }}</td>
                                <td>{{ row.landing_page }}</td>
                                <td>{{ row.landing_sessions }}</td>
                               <td>{{ row.landing_new_session }}</td> 
                                <td>{{ row.landing_new_users }}</td>
                                <td>{{ row.landing_bounce_rate }}</td>
                                <td>{{ row.landing_page_session }}</td>
                                <td>{{ row.landing_avg_session_duration }}</td>
                                <td>{{ row.language }}</td>
                                <td>{{ row.language_users }}</td>
                                <td>{{ row.language_new_users }}</td>
                                <td>{{ row.language_sessions }}</td>
                                <td>{{ row.language_bounce_rate }}</td>
                                <td>{{ row.language_pages_session }}</td>
                                <td>{{ row.language_avg_session_duration }}</td>
                                <td>{{ row.audience }}</td>
                                <td>{{ row.audience_users }}</td>
                                <td>{{ row.audience_new_users }}</td>
                                <td>{{ row.audience_sessions }}</td>
                                <td>{{ row.audience_bounce_rate }}</td>
                                <td>{{ row.audience_pages_session }}</td>
                                <td>{{ row.audience_avg_session_duration }}</td>
                                <td>{{ row.browser_bounce_rate }}</td>
                                <td>{{ row.browser_pages_session }}</td>
                                <td>{{ row.default_channel_grouping }}</td>
                                <td>{{ row.default_channel_users }}</td>
                                <td>{{ row.default_channel_new_users }}</td>
                                <td>{{ row.default_channel_sessions }}</td>
                                <td>{{ row.default_channel_bounce_rate }}</td>
                                <td>{{ row.default_channel_pages_session }}</td>
                                <td>{{ row.default_channel_avg_session_duration }}</td>
                                <td>{{ row.page_path_level1 }}</td>
                                <td>{{ row.page_view }}</td>
                                <td>{{ row.unique_page_view }}</td>
                                <td>{{ row.avg_time_on_page }}</td>
                                <td>{{ row.bounce_rate }}</td>
                                <td>{{ row.exit_percent }}</td>
                                <td>{{ row.country_impressions }}</td>
                                <td>{{ row.country_clicks }}</td>
                                <td>{{ row.country_ctr }}</td>
                                <td>{{ row.country_average_position }}</td>
                                <td>{{ row.country_sessions }}</td>
                                <td>{{ row.country_bounce1_rate }}</td>
                                <td>{{ row.country_pages_session }}</td>
                                <td>{{ row.all_website_device_category }}</td>
                                <td>{{ row.all_website_impressions }}</td>
                                <td>{{ row.all_website_clicks }}</td>
                                <td>{{ row.all_website_ctr }}</td>
                                <td>{{ row.all_website_average_position }}</td>
                                <td>{{ row.all_website_sessions }}</td>
                                <td>{{ row.all_website_bounce_rate }}</td>
                                <td>{{ row.all_website_pages_session }}</td>
                                <td>{{ row.mobile_device_info }}</td>
                                <td>{{ row.mobile_device_users }}</td>
                                <td>{{ row.mobile_device_new_users }}</td>
                                <td>{{ row.mobile_device_sessions }}</td>
                                <td>{{ row.mobile_device_bounce_rate }}</td>
                                <td>{{ row.mobile_device_avg_session_duration }}</td>
                                <td>{{ row.session_duration_bucket }}</td>
                                <td>{{ row.bucket_session }}</td>
                                <td>{{ row.bucket_page_views }}</td>
                                <td>{{ row.source_medium }}</td>
                                <td>{{ row.medium_users }}</td>
                                <td>{{ row.medium_new_users }}</td>
                                <td>{{ row.medium_sessions }}</td>
                                <td>{{ row.medium_bounce_rate }}</td>
                                <td>{{ row.medium_pages_session }}</td>
                                <td>{{ row.medium_avg_session_duration }}</td>
                               
                              

                            </tr>
                              {% endfor %}
                              {% else %}
                              {% for row in page_obj %}
                              <tr>
                              <td>
                                <input type="checkbox" name="selected-rows" value="{{ row.id }}">
                              </td>
                              <td>{{ page_obj.start_index|add:forloop.counter0 }}</td> <!-- Index number -->
                              {% comment %} <td>{{forloop.counter}}</td> {% endcomment %}
                              <td>{{ row.g_date }}</td> 
                              <td> {{ row.months}}</td>         <!--Updated-->
                              <td>{{ row.country }}</td>         
                              <td>{{ row.country_users}}</td>     <!--Updated -->
                                {% comment %} <td>{{ row.country_page_session }}</td> {% endcomment %}
                                <td>{{ row.country_avg_session_duration }}</td>
                                <td>{{ row.country_bounce_rate }}</td>
                                <td>{{ row.country_benchmark_bounce_rate }}</td>
                                <td>{{ row.device_category }}</td>
                                <td>{{ row.device_users }}</td>
                                <td>{{ row.device_new_users }}</td>
                                <td>{{ row.device_sessions }}</td>
                                <td>{{ row.device_bounce_rate }}</td>
                                <td>{{ row.device_page_session }}</td>
                                <td>{{ row.search_query }}</td>
                                <td>{{ row.search_clicks }}</td>
                                <td>{{ row.search_impressions }}</td>
                                <td>{{ row.search_ctr }}</td>
                                <td>{{ row.search_avg_position }}</td>
                                <td>{{ row.site_search_new_users }}</td>
                                <td>{{ row.site_search_bounce_rate }}</td>
                                <td>{{ row.site_search_page_session }}</td>
                                <td>{{ row.site_search_avg_session_duration }}</td>
                                <td>{{ row.site_search_transaction }}</td>
                                <td>{{ row.site_search_revenue }}</td>
                                <td>{{ row.site_search_e_commerce_conversion_rate }}</td>
                                <td>{{ row.goal_completion_location }}</td>
                                <td>{{ row.goal_completions }}</td>
                                <td>{{ row.page }}</td>
                                <th>{{ row.avg_page_load_time }}</td>
                                <td>{{ row.page_per_views }}</td>
                                <td>{{ row.page_bounce_rate }}</td>
                                <td>{{ row.page_exit }}</td>
                                <td>{{ row.event_category }}</td>
                                <td>{{ row.event_total_events }}</td>
                                <td>{{ row.event_unique_events }}</td>
                                <td>{{ row.page_event }}</td>
                                <td>{{ row.page_total_events }}</td>
                                <td>{{ row.page_unique_events }}</td>
                                <td>{{ row.campaign_campaign_id }}</td>
                                <td>{{ row.campaign_clicks }}</td>
                                <td>{{ row.campaign_cost }}</td>
                                <td>{{ row.campaign_cpc }}</td>
                                <td>{{ row.campaign_users }}</td>
                                <td>{{ row.campaign_sessions }}</td>
                                <td>{{ row.campaign_bounce_rate }}</td>
                                <td>{{ row.campaign_pages_session }}</td>
                                <td>{{ row.final_url }}</td>
                                <td>{{ row.url_clicks }}</td>
                                <td>{{ row.url_cost }}</td>
                                <td>{{ row.url_cpc }}</td>
                                <td>{{ row.url_users }}</td>
                                <td>{{ row.url_sessions }}</td>
                                <td>{{ row.url_bounce_rate }}</td>
                                <td>{{ row.url_page_session }}</td>
                                <td>{{ row.per_hour_ }}</td>
                                <td>{{ row.per_hour_users }}</td>
                                <td>{{ row.per_hour_new_users }}</td>
                                <td>{{ row.per_hour_sessions }}</td>
                                <td>{{ row.per_hour_bounce_rate }}</td>
                                <td>{{ row.per_hour_pages_session }}</td>
                                <td>{{ row.per_hour_avg_session_duration }}</td>
                                <td>{{ row.affinity_category_reach }}</td>
                                <td>{{ row.users_reach }}</td>
                                <td>{{ row.new_users_reach }}</td>
                                <td>{{ row.sessions_reach }}</td>
                                <td>{{ row.bounce_rate_reach }}</td>
                                <td>{{ row.pages_session_reach }}</td>
                                <td>{{ row.avg_session_duration_reach }}</td>
                                <td>{{ row.market_segment }}</td>
                                <td>{{ row.market_users }}</td>
                                <td>{{ row.market_new_users }}</td>
                                <td>{{ row.market_sessions }}</td>
                                <td>{{ row.market_bounce_rate }}</td>
                                <td>{{ row.market_pages_session }}</td>
                                <td>{{ row.market_avg_session_duration }}</td>
                                <td>{{ row.other_category }}</td>
                                <td>{{ row.other_category_users }}</td>
                                <td>{{ row.other_category_new_users }}</td>
                                <td>{{ row.other_category_sessions }}</td>
                                <td>{{ row.other_category_bounce_rate }}</td>
                                <td>{{ row.other_category_pages_session }}</td>
                                <td>{{ row.other_category_avg_session_duration }}</td>
                                <td>{{ row.landing_page }}</td>
                                <td>{{ row.landing_sessions }}</td>
                                <td>{{ row.landing_new_session }}</td> 
                                <td>{{ row.landing_new_users }}</td>
                                <td>{{ row.landing_bounce_rate }}</td>
                                <td>{{ row.landing_page_session }}</td>
                                <td>{{ row.landing_avg_session_duration }}</td>
                                <td>{{ row.language }}</td>
                                <td>{{ row.language_users }}</td>
                                <td>{{ row.language_new_users }}</td>
                                <td>{{ row.language_sessions }}</td>
                                <td>{{ row.language_bounce_rate }}</td>
                                <td>{{ row.language_pages_session }}</td>
                                <td>{{ row.language_avg_session_duration }}</td>
                                <td>{{ row.audience }}</td>
                                <td>{{ row.audience_users }}</td>
                                <td>{{ row.audience_new_users }}</td>
                                <td>{{ row.audience_sessions }}</td>
                                <td>{{ row.audience_bounce_rate }}</td>
                                <td>{{ row.audience_pages_session }}</td>
                                <td>{{ row.audience_avg_session_duration }}</td>
                                <td>{{ row.browser_bounce_rate }}</td>
                                <td>{{ row.browser_pages_session }}</td>
                                <td>{{ row.default_channel_grouping }}</td>
                                <td>{{ row.default_channel_users }}</td>
                                <td>{{ row.default_channel_new_users }}</td>
                                <td>{{ row.default_channel_sessions }}</td>
                                <td>{{ row.default_channel_bounce_rate }}</td>
                                <td>{{ row.default_channel_pages_session }}</td>
                                <td>{{ row.default_channel_avg_session_duration }}</td>
                                <td>{{ row.page_path_level1 }}</td>
                                <td>{{ row.page_view }}</td>
                                <td>{{ row.unique_page_view }}</td>
                                <td>{{ row.avg_time_on_page }}</td>
                                <td>{{ row.bounce_rate }}</td>
                                <td>{{ row.exit_percent }}</td>
                                <td>{{ row.country_impressions }}</td>
                                <td>{{ row.country_clicks }}</td>
                                <td>{{ row.country_ctr }}</td>
                                <td>{{ row.country_average_position }}</td>
                                <td>{{ row.country_sessions }}</td>
                                <td>{{ row.country_bounce1_rate }}</td>
                                <td>{{ row.country_pages_session }}</td>
                                <td>{{ row.all_website_device_category }}</td>
                                <td>{{ row.all_website_impressions }}</td>
                                <td>{{ row.all_website_clicks }}</td>
                                <td>{{ row.all_website_ctr }}</td>
                                <td>{{ row.all_website_average_position }}</td>
                                <td>{{ row.all_website_sessions }}</td>
                                <td>{{ row.all_website_bounce_rate }}</td>
                                <td>{{ row.all_website_pages_session }}</td>
                                <td>{{ row.mobile_device_info }}</td>
                                <td>{{ row.mobile_device_users }}</td>
                                <td>{{ row.mobile_device_new_users }}</td>
                                <td>{{ row.mobile_device_sessions }}</td>
                                <td>{{ row.mobile_device_bounce_rate }}</td>
                                <td>{{ row.mobile_device_avg_session_duration }}</td>
                                <td>{{ row.session_duration_bucket }}</td>
                                <td>{{ row.bucket_session }}</td>
                                <td>{{ row.bucket_page_views }}</td>
                                <td>{{ row.source_medium }}</td>
                                <td>{{ row.medium_users }}</td>
                                <td>{{ row.medium_new_users }}</td>
                                <td>{{ row.medium_sessions }}</td>
                                <td>{{ row.medium_bounce_rate }}</td>
                                <td>{{ row.medium_pages_session }}</td>
                                <td>{{ row.medium_avg_session_duration }}</td>
                               

                              </tr>
                          </tr>
                          {% endfor %}
                          {% endif %}
                      </tbody>
                    </table>                      
                </div>
                <div class="pagination" style="display:block">
                  <div>
                    <form action="{% url 'analytics_data' %}" method="get" class="pagination-form">
                      <label for="rows" class="pagination-label">Rows per page:</label>
                      <select name="rows" id="rows" onchange="this.form.submit()" class="pagination-select">
                        <option value="5" {% if rows_per_page == 5 %}selected{% endif %}>5</option>
                        <option value="10" {% if rows_per_page == 10 %}selected{% endif %}>10</option>
                        <option value="20" {% if rows_per_page == 20 %}selected{% endif %}>20</option>
                        <option value="All" {% if rows_per_page == "All" %}selected{% endif %}>All</option>
                        <!-- Add more options as needed -->
                      </select>
                    </form>
                  </div>
                  <div class="step-links">
                    <!-- Pagination links -->
                    {% if page_obj.has_previous %}
                      <a href="?rows={{ rows_per_page }}&page=1">&laquo; First</a>
                      <a href="?rows={{ rows_per_page }}&page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif %}
                    
                    <span class="current-page">{{ page_obj.number }}</span>
                    
                    {% if page_obj.has_next %}
                      <a href="?rows={{ rows_per_page }}&page={{ page_obj.next_page_number }}">Next</a>
                      <a href="?rows={{ rows_per_page }}&page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                    {% endif %} 
                  </div>
                </div>
            </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
      // Get the CSRF token from the cookie
      var csrftoken = Cookies.get('csrftoken');
    
      // Set the CSRF token for AJAX requests
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          xhr.setRequestHeader('X-CSRFToken', csrftoken);
        }
      });
    
      $('#delete-button').click(function() {
        var selectedRows = $('input[name="selected-rows"]:checked');
        var ids = [];
        selectedRows.each(function() {
          ids.push($(this).val());
        });
        if (ids.length > 0) {
          $.ajax({
            url: 'delete_selected_rows/',
            type: 'POST',
            data: {ids: ids},
            success: function(response) {
                if (response.success) {
                    // Reload the page after a short delay
                    if (confirm('Are you sure you want to delete the selected rows?')){
                      window.location.reload();
                  } }
                  else {
                    alert('Failed to delete selected rows. Please try again.');
                  }
                },
                error: function() {
                  alert('An error occurred while deleting selected rows. Please try again.');
                }
              });
            }
          });

        $('input[name="selected-rows"]').change(function() {
            var selectedCount = $('input[name="selected-rows"]:checked').length;
            if (selectedCount === 1) {
              $('#view-graph-button').prop('disabled', false);
            } else {
              $('#view-graph-button').prop('disabled', true);
            }
          });
        
          $('#view-graph-button').click(function() {
            // Redirect to the dashboard page with the selected row's data
            var selectedRowId = $('input[name="selected-rows"]:checked').val();
            window.location.href = '/dashboard/?id=' + selectedRowId;
          });
        });
        </script>
        
    	</div>
			</div>
			
    
      <style>
        /* CSS styles remain the same */
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            padding: 20px;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
            color: #333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            background-color: #fff;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            
        }

  

        th, td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            color: #333;
        }


        th {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        tr:hover {
            background-color: #f9f9f9;
        }

        .btn-views,
        .btn-edit,
        .btn-delete {
            padding: 4px 8px;
            font-size: 12px;
            line-height: 1;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
        }
        .btn-primary {
            float: right;
            margin-right: 4px;
            margin-right: 2px;
            margin-top: -9px; /* Adjust this value to shift the button upward */
      }
       .btn-secondry{
            background-color:lightgreen;
            margin:4px;
      }
        .btn-views:hover {
            background-color: #45a049;
        }

        .btn-edit {
            background-color: #007bff;
        }

        .btn-edit:hover {
            background-color: #0069d9;
        }

        .btn-delete {
            background-color: #dc3545;
        }

        .btn-delete:hover {
            background-color: #c82333;
        }
        .panel  table thead {
            position: sticky;
            top: 89px;
            z-index: 999;
            background-color: #f2f2f2;
        }

        .panel .panel-heading{
            position:sticky;
            top:50px;
            z-index:9999;
            
        }

        .panel.panel-expand .panel-heading{
            top:0 !important;
        }

        
        .panel.panel-expand table thead{
            top:-16px !important;
        }
        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
          }
          
          .pagination a {
            color: white;
            text-decoration: none;
            padding: 8px 12px;
            margin: 0 5px;
            border-radius: 4px;
            background-color: #348fe2;
          }
          
          .pagination a:hover {
            background-color: #ddd;
          }
          
          .pagination .current-page {
            font-weight: bold;
          }
          .pagination-form {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            top: -20px;
          }
        
          .pagination-label {
            margin-right: 10px;
            font-weight: bold;
            color: #333;
          }
        
          .pagination-select {
            padding: 5px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 4px;
          }
        
          /* Style the selected option */
          .pagination-select option[selected] {
            font-weight: bold;
          }
                  
            </style>
				</div>
			</div>
</div>

{% endblock content %}